.pageTitle  { color:#556B2F; background-color:#7FFFD4; }
.pageSlogan  { color:#556B2F; background-color:#F5F5DC; }
.importantText { color:#696969; background-color:#FFFF00; }

#navigationBar { color:#B8860B; background-color:#FF8C00; }
#contentArea { color:#A52A2A; background-color:#7FFF00; }

#contentArea h3 { color:#48D1CC; background-color:#778899; }
#contentArea p { color:#191970; background-color:#32CD32; }